.logo {
    position :relative;
    float: right !important;
    justify-content: center;
    margin-right: 0px;
    display : flex;
    height: 60px; 
    padding-top: 0%;
}

li {
  display: inline-block;
  margin: 5px;
}
ul {
  padding-left: 0%;
}

button {
   padding: 0;
   margin: 0;
   border: none;
   background: none;
 }
  
button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
}  
button a {
  margin: 0;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color)
}
 
button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}
  
button a::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out; 
} 

#accueil::before {
  content: "Accueil";
}
#oeuvres::before {
  content: "Oeuvres";
} 

#auteurs::before {
  content: "Auteurs";
}
#apropos::before {
  content: "About";
}
button:hover::after {
  width: 100%;
}
  
button:hover a::before {
  width: 100%;
}
  
button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}
  
button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.header {
  position:fixed;
  overflow: hidden;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("./images_pauteurs/background_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header::before {
  content : "";
  position : absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: none;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    background : linear-gradient(to left top, #031A9A, #8d52ff);
}
.wrapper {
    position: relative;
    margin-top : 20%;
    max-width: 1100px;
    width: 100%;
}
.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top : 50%;
    font-size : 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper i:first-child {
    left: -22px;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    gap : 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;

}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card .img {
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.card .img img {
    width : 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.card h2 {
    font-weight : 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.card span {
    color: #6a6d78;
    font-size: 0.9rem;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
@media screen and (max-width : 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

footer {
  position: relative;
}
.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.footer-distributed .footer-right a:hover{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
}
.footer-distributed p.footer-links a:hover {
  text-decoration:underline;
}
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.wrapper2 {
  position: relative;
  display: flex;
  width: 95%;
  margin-top: 10%;
  margin-left: 5%;
}
.wrapper2 .txtwrapper {
  width : 75%;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  max-width: 35%;
  padding-right: 40%;
}
.wrapper .imgwrapper {
  width : 25%;
}
.wrapper2 .abab {
  height: 40vh;
  width: 20vw;
}